<ActionBar class="fond">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="SOS victime: Poste de secour" color="white"></Label>

</ActionBar>

<ScrollView>
    <GridLayout class="page__content" backgroundColor="#3E3F32" >
        <FlexboxLayout backgroundColor="#3E3F32" flexDirection="row" flexWrap="wrap" justifyContent="space-around"
            margin-top="50%" rows="200,50,50,50,50">
            <Label backgroundColor="#3E3F32" class="page__content-placeholder" text="" marginTop="50%"
                row="0" color="white" fontSize=25px; fontWeight="Bold" marginbottom="10%" marginLeft="100%"></Label>
            <Label backgroundColor="#3E3F32" class="page__content-placeholder" text="" marginTop="50%"
                row="1" color="white" fontSize=25px; fontWeight="Bold" marginbottom="10%" marginLeft="100%"></Label>
            <Label backgroundColor="#3E3F32" class="page__content-placeholder" text="" marginTop="50%"
                row="2" color="white" fontSize=25px; fontWeight="Bold" marginbottom="10%" marginLeft="100%"></Label>

            <Label backgroundColor="#3E3F32" class="page__content-placeholder" text="La victime est un" marginTop="50%"
                row="3" color="white" fontSize=25px; fontWeight="Bold" marginbottom="10%" marginLeft="10%"></Label>
            <ContentView row="4" textAlign="center" class="bouttonchute"text="ENFANT" width="400px" height="400px" marginLeft="5%"
                color="white" backgroundColor="#FF0000">
                <Label class="page__content-placeholder" text="ENFANT" [nsRouterLink]="['/bonjour']" color="white" fontSize=25px; fontWeight="Bold"
                    marginbottom="10%" marginLeft="0%"></Label>
            </ContentView>
            <ContentView row="4" text="Adulte"[nsRouterLink]="['/bonjour']" class="bouttonchute"width="400px" height="400px" color="white" textAlign="center"
                marginLeft="0%" backgroundColor="#106D0E">

                <Label class="page__content-placeholder" text="ADULTE" color="white" fontSize=25px; fontWeight="Bold"
                    marginbottom="10%" marginLeft="0%"></Label>
            </ContentView>
        </FlexboxLayout>
    </GridLayout>
    <!-- class="bouttonchute" -->
    <!-- <GridLayout class="page__content" backgroundColor="#3E3F32" rows="200,50,50" column="*,*">
                <Label backgroundColor="#3E3F32" class="page__content-placeholder" text="" marginTop="10%"row="0"column="0"colspan="2"
                        color="white" fontSize=25px; fontWeight="Bold" marginbottom="10%" marginLeft="15%"></Label>
                <Label backgroundColor="#3E3F32" class="page__content-placeholder" column="0"text="La victime est un" marginTop="10%"row="1"colspan="2"
                        color="white" fontSize=25px; fontWeight="Bold" marginbottom="10%" marginLeft="15%"></Label>
                <Label backgroundColor="#3E3F32" class="page__content-placeholder" text="ENFANT" marginTop="10%"row="2"column="0"
                        color="white" fontSize=25px; fontWeight="Bold" marginbottom="10%"  marginLeft="15%"></Label>
                <Label backgroundColor="red"  height="100%" bordeRadius="100%" class="page__content-placeholder"class="bouttonchute" text="Adulte" marginTop="10%"row="2" column="1"
                        color="white" fontSize=25px; fontWeight="Bold" marginbottom="10%" marginLeft="15%"></Label>
            </GridLayout> -->
</ScrollView>