<ActionBar class="fond">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="SOS victime: complements d'informations" color="white"></Label>

</ActionBar>

<ScrollView>
    <GridLayout class="page__content" backgroundColor="#3E3F32">
        
        <FlexboxLayout backgroundColor="#3E3F32" flexDirection="row" flexWrap="wrap" justifyContent="space-around"
            marginTop="50%">
            <Label backgroundColor="#3E3F32" class="page__content-placeholder" text="CAUSE DE BLESSURE" row="0"
                color="white" fontSize=25px; fontWeight="Bold" marginbottom="10%" marginLeft="10%"></Label>
            <Label class="position" color="white" paddingTop="70%" paddingLeft="35%" class="bouttonchute"
                class="pictureA" text="Chute" color="white" fontWeight="Bold" width="300px" height="300px"
                backgroundColor="#FF0000"></Label>
            <Label class="bouttonchute" color="white" paddingTop="70%" paddingLeft="30%" text="Collision"
                class="pictureB" width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"></Label>
            <Label class="bouttonchute" color="white" paddingTop="70%" paddingLeft="35%" text="Autres" class="pictureC"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"></Label>
            <Label backgroundColor="#3E3F32" color="white" class="page__content-placeholder" text="TYPE DE BLESSURES"
                row="0" color="white" fontWeight="Bold" fontSize="25px" marginLeft="14%"></Label>
            <Label class="bouttonchute" color="white" paddingTop="70%" paddingLeft="35%" text="Tête" class="pictureD"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"></Label>
            <Label class="bouttonchute" color="white" paddingTop="70%" paddingLeft="35%" text="Bras" class="pictureE"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"></Label>
            <Label class="bouttonchute" color="white" paddingTop="70%" paddingLeft="30%" text="Epaules" class="pictureF"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"></Label>
            <Label class="bouttonchute" color="white" paddingTop="70%" paddingLeft="35%" text="genou" class="pictureG"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"></Label>
            <Label class="bouttonchute" color="white" paddingTop="70%" paddingLeft="30%" class="picture" text="Jambes"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"></Label>
            <Label class="bouttonchute" color="white" paddingTop="70%" paddingLeft="35%" text="Autres" class="pictureC"
                width="300px" height="300px" fontWeight="Bold" backgroundColor="#FF0000"></Label>
            <!-- <Label class="bouttonchute" color="white" paddingTop="70%" paddingLeft="35%" text="" width="250px" height="250px" fontWeight="Bold" backgroundColor="#3E3F32"marginBottom="20%"></Label> -->

            <Button text="Envoyer" backgroundColor="#0DF24D" color="white" (tap)="submit()" fontSize="Large"
                class="soumission" marginTop="100%"></Button>
        </FlexboxLayout>


        <!-- </FlexboxLayout> -->
    </GridLayout>


</ScrollView>

<!-- <BottomNavigation height="100%">
        <TabStrip>
            <TabStripItem>
                <Label col="0" text="&#xf05a;" class="nt-icon fas"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label col="1" text="&#xf041;" class="nt-icon fas"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label col="2" text="&#xf041;" class="nt-icon fas"></Label>
            </TabStripItem>
        </TabStrip>
    </BottomNavigation> -->

<!-- <GridLayout class="page__content" class="overlay" rows="50,50,50,50,50,50" >
    <Label  class="page__content-placeholder" text="Nous avons bien reçut " row="0" color="black"
    fontWeight="Bold" fontSize="18px" marginLeft="0%" ></Label>
    <Label  class="page__content-placeholder" text="ces complements d'informations " row="1" color="black"
    fontWeight="Bold" fontSize="18px" marginLeft="0%"></Label>
    <Label  class="page__content-placeholder" text="Nous serons bientot à vos cotés " row="2" color="black"
    fontWeight="Bold" fontSize="18px" marginLeft="0%"></Label>
    <Label  class="page__content-placeholder" text="restez calme, respirez profondemment " row="3" color="black"
    fontWeight="Bold" fontSize="18px" marginLeft="0%"></Label>
</GridLayout>  -->